.scrollpane{
    -fx-background-color: white;
    -fx-background: white;
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-border-style: none;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.scrollpane,
.scrollpane .viewport,
.scrollpane .scroll-bar {
  -fx-background-radius: 15;
}

.scrollpane .thumb {
    -fx-background-color: rgba(79, 19, 228, 0.537);
  }