.maincontainer{
    -fx-background-color: #F5F0F0;

}

.vbox{
    -fx-background-color: #FFF;
    -fx-background-radius: 20px;
    -fx-overflow: scroll;
}
.pending{
    -fx-font-weight: 600;
    -fx-font-family: 'Inter';
}

.insidebox{
    -fx-background-color:#F5F0F0;
    -fx-background-radius: 20px;
}

.name{
    -fx-font-weight:400;
}

.time{
    -fx-font-weight: 400;
}

.scrollpane{
    -fx-background-color:#FFF;
}