#body_anchor {
  -fx-background-color: #d9d9d9;
}

#search_box {
  -fx-background-color: white;
  -fx-background-radius: 15px;
}

#search_field {
  -fx-background-color: transparent;
}

#search_btn,
#clear_btn {
  -fx-background-color: transparent;
}

#id_list {
  -fx-background-color: white;
  -fx-background-radius: 15px;
}
.scroll-pane {
  -fx-background-color: transparent;
  -fx-background-radius: 15px;
}

.scroll-pane,
.scroll-pane .viewport,
.scroll-pane .scroll-bar {
  -fx-background-color: transparent;
  -fx-background-radius: 15;
}
.scroll-pane .thumb {
  -fx-background-color: rgba(79, 19, 228, 0.537);
}

#approve_btn {
  -fx-background-color: #976eef;
  -fx-background-radius: 15px;
}

#approve_btn:hover {
  -fx-background-color: #976eefd2;
}

#detail_box {
  -fx-background-color: #ffffff;
  -fx-background-radius: 15px;
}

.detail_hbox {
  -fx-background-color: #f5f0f0;
  -fx-background-radius: 15px;
}
.detail_hbox:hover {
  -fx-background-color: #eee6e6ab;
}

.detailLabel {
  -fx-font-weight: 800;
  -fx-text-fill: #702ffc;
}

/* for list of residents  */

.name-label {
  -fx-text-fill: white;
  -fx-font-size: 16;
  -fx-font-weight: 700;
  -fx-background-color: #976eef76;
  -fx-background-radius: 20;
  -fx-pref-width: 450;
  -fx-pref-height: 40;
  -fx-padding: 3;
}
