.left-pane {
  -fx-background-color: white;
  -fx-background-radius: 20px;
}
.right-pane {
  -fx-background-color: white;
  -fx-background-radius: 20px;
}
.approve-btn {
  -fx-background-color: #976eef;
  -fx-text-fill: white;
  -fx-background-radius: 15px;
  -fx-font-size: 17px;
  -fx-font-weight: 300;
}
.clear-btn {
  -fx-background-color: white;
  -fx-background-radius: 15px;
  -fx-text-fill: #976eef;
  -fx-border-radius: 15px;
  -fx-border-color: #976eef;
  -fx-font-size: 17px;
  -fx-font-weight: 300;
}

.txt-field {
  -fx-background-radius: 20px;
}

.upload {
  -fx-background-color: #ede9f7;
  -fx-background-radius: 20px;
}

.browse {
  -fx-background-color: #976eef;
  -fx-background-radius: 20px;
  -fx-text-fill: white;
}
.header {
  -text-fill: #976eef;
  -fx-font-size: 25px;
  -fx-font-weight: 700;
}

.combo-box {
  -fx-background-color: white;
  -fx-border-color: #bcbcbc;
  -fx-border-width: 1.5px;
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
  -fx-text-fill:#976eef;
}
.combo-box .list-view {
  -fx-background-radius:20px;
}

.combo-box .list-view .list-cell {
  -fx-background-radius:10px;
  -fx-text-fill:#976eef;
  -fx-padding:6px;
}
.combo-box .list-view .list-cell:hover{
  -fx-text-fill:white;
}
.combo-box-base{
  -fx-text-fill:#976eef;
  
}
.combo-box .list-view .list-cell:selected{
  -fx-text-fill:white;
}
.combo-box .list-cell {
  -fx-text-fill:#976eef;
  
}
.combo-box .arrow {
 -fx-background-color:#976eef;
}