#body_anchor {
  -fx-background-color: #d9d9d9;
}

#search_box {
  -fx-background-color: white;
  -fx-background-radius: 15px;
}

#search_field {
  -fx-background-color: transparent;
}

#search_btn,
#clear_btn {
  -fx-background-color: transparent;
}

#id_list {
  -fx-background-color: white;
  -fx-background-radius: 15px;
}
.scroll-pane {
  -fx-background-color: transparent;
  -fx-background-radius: 15px;
}

.scroll-pane,
.scroll-pane .viewport,
.scroll-pane .scroll-bar {
  -fx-background-color: transparent;
  -fx-background-radius: 15;
}
.scroll-pane .thumb {
  -fx-background-color: rgba(79, 19, 228, 0.537);
}

#approve_btn {
  -fx-background-color: #976eef;
  -fx-background-radius: 15px;
}

#approve_btn:hover {
  -fx-background-color: #976eefd2;
}

#detail_box {
  -fx-background-color: #ffffff;
  -fx-background-radius: 15px;
}

.detail_hbox {
  -fx-background-color: #f5f0f0;
  -fx-background-radius: 15px;
}
.detail_hbox:hover {
  -fx-background-color: #eee6e6ab;
}

.detailLabel {
  -fx-font-weight: 800;
  -fx-text-fill: #702ffc;
}

/* for list of residents  */

.name-label {
  -fx-text-fill: white;
  -fx-font-size: 16;
  -fx-font-weight: 700;
  -fx-background-radius: 20;
  -fx-pref-width: 450;
  -fx-pref-height: 40;
  -fx-padding: 3;
}

#idExp_label {
  -fx-border-color: #702ffc;
  -fx-font-weight: 800;
  -fx-border-width: 1;
  -fx-border-radius: 10;
  -fx-text-fill: #702ffc;
}

#expand_btn {
  -fx-background-color: transparent;
  -fx-border-color: #702ffc;
  -fx-border-width: 1;
  -fx-border-radius: 10;
  -fx-padding: 3;
}

#expand_btn:hover {
  -fx-effect: dropshadow(gaussian, #702ffc7d, 10, 0, 2, 2);
  -fx-background-radius: 0;
}

#root_box {
  -fx-background-color: white;
  -fx-background-radius: 15;
  -fx-border-color: #702ffc;
  -fx-border-widht: 2;
  -fx-border-radius: 15;
  -fx-padding: 10 10 10 10;
}

#titlebar {
  -fx-background-color: transparent;
  -fx-background-radius: 15;
  -fx-padding: 10 0 0 0;
}

#expand_header {
  -fx-font-weight: 800;
  -fx-font-size: 15;
  -fx-text-fill: #702ffc;
  -fx-pref-height: 25;
  -fx-pref-width: 435;
}

#x_btn {
  -fx-background-color: transparent;
  -fx-font-weight: 800;
  -fx-font-size: 20;
  -fx-text-fill: #702ffc;
  -fx-pref-width: 25;
  -fx-pref-height: 25;
  -fx-padding: 2;
}

#x_btn:hover {
  -fx-text-fill: white;
  -fx-background-color: #702ffc6b;
}
